*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F5F8;
}

.container {
    display: grid;
    place-items: center;
    width: 80vw;
    margin: 10vh auto;
    text-align: center;
}

