*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F5F8;
}

.container {
    display: grid;
    place-items: center;
    width: 80vw;
    margin: 10vh auto;
    text-align: center;
}

.content-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.image {
    object-fit: cover;
    height: 200px;
    border-radius: 8px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    margin: 5px;
    border-radius: 5px;
}

.btn {
    border: none;
    background: transparent;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s linear;
    display: block;
}

.content h4 {
    text-align: start;
}

.content p {
    text-align: start;
}
.content {
    display: none;
    padding: 10px;
}

.active {
    display: block;
}