*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F5F8;
}

.container {
    display: grid;
    place-items: center;
    width: 80vw;
    margin: 10vh auto;
    text-align: center;
}

.content-container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}

.img-container {
    display: flex;
    justify-content: center;
}

.image {
    object-fit: cover;
    height: 200px;
    border-radius: 8px;
}

